@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


:root {
	--color-primary: #0273de;
	--color-white: #fff;
	--color-dark-text: #333;
	--color-1st-background: #f9fcff;
	--color-primary-dark: #0264c2;
	--color-grey-light: #f3f3f3;
	--color-orange: #DA4D1D;
}


* {
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
	list-style: none;
	text-decoration: none;
}


.banner {
	width: 100%;
	height: 100vh;
	background-image: url(../images/bg.png);
	background-size: cover;
	background-position: center;
}

.navbar {
	width: 85%;
	margin: auto;
	padding: 35px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;

}

.logo {
	width: 85px;
	cursor: pointer;
}

.navbar ul li {
	list-style: none;
	display: inline-block;
	margin: 0 20px;
	position: relative;
}

.navbar ul li a {
	text-decoration: none;
	color: var(--color-white);
	font-size: 15px;
}

.navbar ul li::after {
	content: '';
	height: 3px;
	width: 0;
	background: var(--color-primary);
	position: absolute;
	left: 0;
	bottom: -8px;
	transition: 0.5s;
}

.navbar ul li:hover::after {
	width: 100%;
}

.waves {
	position: relative;
	transform: translateY(275%);
	width: 100%;
	height: 100vh;
	margin-bottom: -7px;
	min-height: 100px;
	max-height: 150px;
}

.waves .parallax>use {
	animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}

.waves .parallax>use:nth-child(1) {
	animation-delay: -2s;
	animation-duration: 7s;
}

.waves .parallax>use:nth-child(2) {
	animation-delay: -3s;
	animation-duration: 10s;
}

.waves .parallax>use:nth-child(3) {
	animation-delay: -4s;
	animation-duration: 13s;
}

.waves .parallax>use:nth-child(4) {
	animation-delay: -5s;
	animation-duration: 20s;
}

@keyframes move-forever {
	0% {
		transform: translate3d(-90px, 0, 0);
	}

	100% {
		transform: translate3d(85px, 0, 0);
	}
}

@media (max-width: 768px) {
	.waves {
		height: 40px;
		min-height: 40px;
	}
}

.content {
	width: 100%;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
	color: #fff;
	z-index: 5;
}

.wave {
	position: relative;
	bottom: -100%;
	left: 0;
}

.content h1 {
	font-size: 2rem;

	font-weight: 500;
}

.button2 {
	width: 175px;
	padding: 7px 0;
	text-align: center;
	margin: 20px 10px;
	border-radius: 25px;
	font-weight: bold;
	border: 2px solid var(--color-white);
	background: transparent;
	color: var(--color-white);
	cursor: pointer;
	transition: 300ms;

}

.button1 {
	width: 175px;
	padding: 7px 0;
	text-align: center;
	margin: 20px 10px;
	border-radius: 25px;
	font-weight: bold;
	color: var(--color-white);
	background: var(--color-primary);
	border: 2px solid var(--color-primary);
	transition: 300ms;
}

.button2:hover {
	background: var(--color-primary);
	border: 2px solid var(--color-primary);
}

.button1:hover {
	border: 2px solid var(--color-white);
	background: transparent;
}


.wave {
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 1;
}


.about_kmcsc {
	padding-top: 60px;
	width: 80%;
	margin: 20px auto;
	display: flex;
	flex-direction: row;
	gap: 5rem;
}

.about_kmcsc_left {
	display: flex;
	align-items: center;
	justify-content: center;
}

.about_kmcsc_left img {
	width: 423.99px;
	height: 253.77px;

	border-radius: 10px;

	box-shadow: #11111155 5px 5px 20px;
}

.about_kmcsc_right_content {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
}

h2 {
	font-size: 20px;
	font-weight: normal;
	color: var(--color-dark-text);
}

h3 {
	font-size: 25px;
	font-weight: 600;
	color: var(--color-primary);
}

.in_button {
	width: 125px;
	padding: 5px;
	border-radius: 15px;
	border: none;
	background-color: var(--color-primary);
	color: white;
	font-weight: 500;
	margin-top: 1rem;
	cursor: pointer;
	transition: 500ms;
}

.in_button:hover {
	background-color: var(--color-primary-dark);
}

.executives_corner_head {
	width: 100%;
	background-color: var(--color-1st-background);
}

.executives_corner {
	width: 90%;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1rem;
	padding-top: 2rem;
	padding-bottom: 2rem;
}

.executives_desc {
	display: flex;
	gap: 1rem;
}

.executives_desc_left {
	display: flex;
	align-items: center;
	justify-content: center;
}

.profile_logo {
	width: 11rem;
	height: 11rem;
	border-radius: 50%;

}

.executives_desc_right {
	display: flex;
	align-items: center;
	justify-content: center;
}

.executives_desc_right p {
	font-size: 14px;
}

.extra_info_head {
	width: 70%;
	margin: 0 auto;
}

.extra_info_count {
	margin-top: 6rem;
	display: flex;
	gap: 0px 15px;
	align-items: center;
	justify-content: space-evenly;
}

.extra_info_img {
	flex: 1;
	height: 16em;
	background-color: var(--color-grey-light);
	right: 10rem;
	z-index: 1;
	margin-left: -110px;
}

.extra_info_img_left {
	flex: 1;
	height: 16em;
	background-color: var(--color-grey-light);
	right: 10rem;
	z-index: 1;
	margin-right: -110px;
}

.extra_info_img_left img {
	float: left;
	width: 400px;
	height: 100%;
}

.extra_info_img img {
	width: 400px;
	height: 100%;
	float: right;
}

.extra_info_desc {
	height: 15em;
	flex: 1;
	z-index: 2;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.extra_info_desc_right {
	height: 15em;
	flex: 1;
	z-index: 2;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.extra_info_desc_title_small {
	font-size: 15px;
}

.extra_info_desc_title_small_right {
	font-size: 15px;
	text-align: right;
}

.extra_info_desc_title_big h5 {
	font-size: 30px;
	font-weight: 600;
	width: 100%;
}

.extra_info_desc_title_big_right h5 {
	font-size: 30px;
	font-weight: 600;
	width: 100%;
	text-align: right;
}


.extra_info_desc_p {
	font-size: 13px;
	margin-top: 0.5rem;
}

.extra_info_desc_p_right {
	font-size: 13px;
	margin-top: 0.5rem;
	text-align: right;
}

.button_right {
	float: right;
}

.small-container {
	max-width: 1080px;
	margin: auto;
	padding-left: 25px;
	padding-right: 25px;
}

.col-3 {
	flex-basis: 30%;
	min-width: 200px;
	margin-bottom: 30px;
}

.col-3 img {
	width: 100%;
}

.row {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-around;
}

.testimonial {
	padding-top: 100px;
	padding-bottom: 100px;
	transition: 1s;
}

.testimonial .col-3 {
	text-align: center;
	padding: 40px 20px;
	box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
	cursor: pointer;
	transition: transform 250ms;
	transition: 250ms;
}

.row:hover .col-3 {
	filter: grayscale(100%);
	transform: scale(0.95);
}

.testimonial .col-3 img {
	width: 50px;
	margin-top: 20px;
	border-radius: 50%;
}

.testimonial .col-3:hover {
	filter: grayscale(0%);
	transform: scale(1.13);
}

.testimonial .col-3 .uil-comment-alt-heart,
.uis {
	font-size: 34px;
	color: var(--color-primary);
}

.uis.uis-star,
.uis.uis-star-half-alt {
	font-size: 34px;
	color: var(--color-orange);
	/*? Making the star yellow */
	filter: hue-rotate(20deg) brightness(130%);
}

.col-3 p {
	font-size: 12px;
	margin: 12px 0;
	color: #777;
}

.testimonial .col-3 h3 {
	font-weight: 600;
	color: #555;
	font-size: 16px;
}

@media only screen and (max-width: 800px) {
	.testimonial .col-3:hover {
		transform: scale(1.05);
	}

	.col-3 {
		flex-basis: 100%;
	}
}

.container2 {
	max-width: 1300px;
	margin: auto;
	padding-left: 25px;
	padding-right: 25px;
	z-index: 10;
}

.footer {
	background: var(--color-primary);
	color: var(--color-white);
	font-size: 12px;
	padding: 60px 0 20px;
}

.footer p {
	color: var(--color-white);
}

.footer h3 {
	color: #fff;
	margin-bottom: 20px;
	font-size: 1rem;
}

.footer-col-1,
.footer-col-2,
.footer-col-3,
.footer-col-4 {
	min-width: 250px;
	margin-bottom: 20px;
}

.footer-col-1 {
	flex-basis: 30%;
}

.footer-col-2 {
	flex: 1;
	text-align: center;
}

.footer-col-2 img {
	width: 180px;
	margin-bottom: 20px;
}

.footer-col-3,
.footer-col-4 {
	flex-basis: 12%;
	text-align: center;
	cursor: pointer;
}

ul {
	list-style-type: none;
}

.app-logo {
	margin-top: 20px;
}

.app-logo img {
	width: 140px;
	cursor: pointer;
}

.footer hr {
	border: none;
	background: #b5b5b5;
	height: 1px;
	margin: 20px 0;
}

.copyright {
	text-align: center;
}

.menu-icon {
	width: 28px;
	margin-left: 20px;
	display: none;
}